<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.trail_title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2"></div>
      <div class="footer-col footer-col-3">
        <p>{{ site.trail_desc }}</p>
      </div>
    </div>
  </div>
  <img src="/trail-of-cthulhu/assets/logo.png" style="margin-left:auto; margin-right:auto; display:block;">
  </div>
</footer>
