{% if page.layout == 'act' %}
  <span>
  {% if page.act > 0 %}
    <a href="../act-{{ page.act | minus:1 }}">Previous Act</a>
  {% else %}
    <a href="../../">Table of Contents</a>
  {% endif %}
  &nbsp;•&nbsp;
  {% if page.story %}
    <a href="../../">Table of Contents</a>
  {% elsif page.act %}
    <a href="../act-{{ page.act | plus:1 }}">Next Act</a>
  {% endif %}
  </span>
{% endif %}
{% if page.layout == 'sequence' %}
  <span>
  {% if page.seq > 0 %}
    <a href="../seq-{{ page.seq | minus:1 }}">Previous Sequence</a>
  {% else %}
    <a href="../">Back to Act</a>
  {% endif %}
  &nbsp;•&nbsp;
  {% if page.story %}
    <a href="../../">Table of Contents</a>
  {% elsif page.act %}
    <a href="../../act-{{ page.act | plus:1 }}/seq-0/">Next Sequence</a>
  {% elsif page.seq %}
    <a href="../seq-{{ page.seq | plus:1 }}">Next Sequence</a>
  {% endif %}
  </span>
{% endif %}
{% if page.layout == 'scene' %}
  <span>
  {% if page.scene > 0 %}
    <a href="../scene-{{ page.scene | minus:1 }}">Previous Scene</a>
  {% else %}
    <a href="../">Back to Sequence</a>
  {% endif %}
  &nbsp;•&nbsp;
  {% if page.act %}
    <a href="../../../act-{{ page.act | plus:1 }}/seq-0/scene-0/">Next Scene</a>
  {% elsif page.seq %}
    <a href="../../seq-{{ page.seq | plus:1 }}/scene-0/">Next Scene</a>
  {% elsif page.scene %}
    <a href="../scene-{{ page.scene | plus:1 }}">Next Scene</a>
  {% endif %}
  </span>
{% endif %}