---
layout: story
---

<article class="scene" itemprop="articleBody">
  {% if page.redirect_from %}<element id="end" data-end="true">{% endif %}
  {% include autonav.html %}
  <header class="scene-header">
    <h1 class="scene-title">
    <span class="beat">
      {% if page.beat %}{% include beat/{{ page.beat }}.html %}{% endif %}
      {% if page.obj %}{% include beat/obj-{{ page.obj }}.html %}{% endif %}
      {% if page.subj %}{% include beat/subj-{{ page.subj }}.html %}{% endif %}
    </span>
    <i>{{ page.title }}</i></h1>
  </header>
  <div class="content">
    {{ content }}
  </div>
  {% include autonav.html %}
  <script type="text/javascript" src="{{site.baseurl}}/code/autonav.js"></script>
</article>
