---
layout: story
---

<article class="scene" itemprop="articleBody">
  <header class="scene-header">
    <h1 class="scene-title">
    <span class="beat">
    {% if page.beat %}{% include trail/beat/{{ page.beat }}.html %}{% endif %}
    {% if page.objective %}{% include trail/beat/obj-{{ page.objective }}.html %}{% endif %}
    {% if page.subjective %}{% include trail/beat/subj-{{ page.subjective }}.html %}{% endif %}
    </span>
    {% if page.scene %} Scene {{ page.scene | plus:1 }} : {% endif %}<i>{{ page.title }}</i></h1>
  </header>
  <div class="scene-content">
    {{ content }}
  </div>
</article>
