---
layout: story
---

<article class="sequence">
  {% include autonav.html %}
  <header class="sequence-header">
    <h1 class="sequence-title">{{ page.title }}</h1>
  </header>
  <ul class="fa-ul">
  {% assign sequences = (site.pages | contains:'page.url' | sort:'url') %}
  {% for scene in sequences %}
    {% if (scene.url contains page.url) and scene.layout == 'scene' %}
      <li>
        <a href="{{site.baseurl}}{{ scene.url }}">
        <span class="beat">
          {% if scene.beat %}{% include beat/{{ scene.beat }}.html %}{% endif %}
        </span>
        <i>{{ scene.title }}</i></a>
      </li>
  {% endif %}
  {% endfor %}
  </ul>
  <div class="content" itemprop="articleBody">
    {{ content }}
  </div>
  {% include autonav.html %}
  <script type="text/javascript" src="{{site.baseurl}}/code/autonav.js"></script>
</article>

